name: multijob pipeline
on: 
   - push
   - workflow_dispatch

jobs:
  build_job:
    runs-on: ubuntu-latest
    steps:
      - name: echo text
        run: echo "This is build job" --username ${{vars.username}} --password ${{secrets.password}}
      - name: install dependencies
        run: sudo apt-get install cowsay -y
      - name: Generate ascii artwork
        run: cowsay -f dragon "i am dangerous run away" >> dragon.txt
      - name: read-file
        run: cat dragon.txt
      - name: upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: myartifacts
          path: dragon.txt
    

  test_job:
    needs: build_job
    runs-on: ubuntu-latest
    steps:
      - name: download artifacts
        uses:  actions/download-artifact@v5
        with:
          name: myartifacts
      - name: read-file
        run: |
         cat dragon.txt
         echo "test_job_running" --username ${{vars.username}} --password ${{secrets.password}}
        
          


  deploy_job:
    needs: test_job
    concurrency:
      group: production-deployment
      cancel-in-progress: true
    runs-on: ubuntu-latest
    steps:
      - name: download-artifacts
        uses:  actions/download-artifact@v5
        with:
          name: myartifacts
      - name: find pattern 
        run: | 
          grep -i "dangerous" dragon.txt
          echo "job completed" --username ${{vars.username}} --password ${{secrets.password}}
          sleep 600s