name: multijob pipeline
on: 
   - push
   - workflow_dispatch
jobs:
  build_job:
    runs-on: ubuntu-latest
    steps:
      - name: echo text
        run: echo "This is build job"
      - name: install dependencies
        run: sudo apt-get install cowsay -y
      - name: Generate ascii artwork
        run: cowsay -f dragon "i am dangerous run away" >> dragon.txt
      - name: read-file
        run: cat dragon.txt
      - name: upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: myartifacts
          path: dragon.txt
    

  test_job:
    needs: build_job
    runs-on: ubuntu-latest
    steps:
      - name: download artifacts
        uses:  actions/download-artifact@v5
        with:
          name: myartifacts
      - name: read-file
        run: cat dragon.txt

  deploy_job:
    needs: test_job
    runs-on: ubuntu-latest
    steps:
      - name: download-artifacts
        uses:  actions/download-artifact@v5
        with:
          name: myartifacts
      - name: find pattern 
        run: grep -i "dangerous" dragon.txt